mat-grid-tile {
  background: #e8e9ea;
  border-radius: 3px;
}

.my-card {
  background: #e8e9ea;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  padding: 2px;
  color: #3f51b5;
  border-radius: 5px;
}

.mat-dialog-content {
  width: 500px;
}
