<div class="customDive">
    
    <div class="blog-card ">
        <div class="meta">
            <div class="photo"
                style="background-image: url(assets/home3.jpg)"></div>
            <ul class="details">
                <li class="author"><a [routerLink]="'/setting/users'">MODERATOR</a></li>
            </ul>
        </div>
        <div class="description">
            <h1>MODERATORS</h1>
            <h2>Manage MODERATOR</h2>
            <p> Add Moderator To Department</p>
            <p class="read-more">
                <a [routerLink]="'/setting/users'">MODERATORS</a>
            </p>
        </div>
    </div>
    <!-- <div class="blog-card ">
        <div class="meta">
            <div class="photo"
                style="background-image: url(assets/setting2.jpg)"></div>
            <ul class="details">
                <li class="author"><a [routerLink]="'/setting/docPlaces'">Docments Places</a></li>
            </ul>
        </div>
        <div class="description">
            <h1>Docments Places</h1>
            <h2>Docments Places</h2>
            <p> Add Places To Docment</p>
            <p class="read-more">
                <a [routerLink]="'/setting/docPlaces'">Docments Places</a>
            </p>
        </div>
    </div> -->

</div>