<nz-layout>
  <nz-header>

    <div class="logo">{{department.departmentName}}</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <div class="headerController">
        <button mat-icon-button color="accent" (click)="toHome()">
          <mat-icon>home</mat-icon>
        </button>
        
        <button mat-mini-fab color="primary">
          <mat-icon (click)="createFolder()">create_new_folder</mat-icon>
        </button>
        
      </div>

    </ul>

  </nz-header>
  <nz-content class="outer-content">
    <mat-progress-bar class="m-2" color="accent" mode="indeterminate" *ngIf="isLoading" value="20"></mat-progress-bar>

    <nz-breadcrumb *ngFor="let item of breadcrumbList">
      <nz-breadcrumb-item><a>{{item.name}}</a></nz-breadcrumb-item>
      <button mat-icon-button *ngIf="item.name!='ParentFolder'" color="primary" (click)="deleteDialog(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </nz-breadcrumb>

    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <div class="row m-1 p-1 bg-light rounded justify-content-around">
            <p class="mt-3 " style="font-size: 18px;">{{userName}}</p>
            <button mat-icon-button color="accent" (click)="logout()">
              <mat-icon>person</mat-icon>
            </button>
          </div>

          <li nz-menu-item>
            <i nz-icon nzType="heart"></i>
            <span class="text-primary">Favorite Docs</span>
          </li>

          <li nz-menu-item>
            <i nz-icon nzType="setting"></i>
            <span class="text-primary">Setting</span>
          </li>

          <li nz-submenu nzTitle="My Folders" nzIcon="folder-view" style="background-color: #4c8c83; color:white;">
            <ul>
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                  <button mat-icon-button color="accent" (click)="nodeClick(node)">
                    <mat-icon>folder</mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name"
                      (click)="nodeClick(node)">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
                      </mat-icon>
                    </button>
                    {{node.name}}
                  </div>
                  <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </mat-nested-tree-node>
              </mat-tree>
            </ul>
          </li>

        </ul>
      </nz-sider>

      <nz-content class="inner-content">

        <nz-table #basicTable [nzData]="dataSet" [nzLoading]="isLoading">
          <thead>
            <tr>
              <th>Department Name</th>
              <th>Moderator</th>
              <!-- <th>Moderator2</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.departmentName }}</td>
              <td>{{ data.user}}</td>
              <!-- <td>{{ data.users[1]?.username}}</td> -->
              <td>

              </td>
            </tr>
          </tbody>
        </nz-table>

      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>